/*Style information for all pages*/



* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif,
}

body {
	background: url("../images/asanoha-400px.png");

}

.total-score {
	font-size: 18px;
}

.wlStatus {
	font-size: 24px;
	font-weight: bold;
}


.bttn {
	height: 128px;
	width: 128px;
	margin: 10px 20px 10px 20px;
	padding: 10px;
	text-align: center;
}

.rAlign {
	text-align: right;
}

.cAlign {
	text-align: center;
}


h2, h3 {
	text-align: center;
}


.panelalign, .statusalign, .panel-margin {
	margin: 0px 100px ;
	/*padding: 0px 5px 0px 5px;*/
}


.headingtxt {
	font-weight: bold;
	font-size: 15px;
	color: white;
}




