/*Style information for all pages*/



* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif,
}

body {
	background: url("../images/asanoha-400px.png");
	/*border: solid;*/
	/*border-width: 1px;*/
	/*border-color: #dddddd;*/
	/*font-family:  'Georgia', Times, Times New Roman, serif;*/
}

/*#currentscore {
	font-size: 18px;
}
*/
.panel-margin {
	margin: 0px 150px;
}

.bttn {
	height: 128px;
	width: 128px;
	margin: 0px 20px 10px 0px;
	padding: 0px;
}

.rAlign {
	text-align: right;
	font-size: 18px;
}

.gemPanel {
	padding: 20px;
	text-align: justify-all;
}



h2, h3 {
	text-align: center;
}


/*#displayResults {
	width: 50%;
	float: left;
}*/
.panelalign {
	margin: 0px 50px 0px 50px;
	/*padding: 0px 5px 0px 5px;*/
}

.statusalign {
	margin: 0px 50px 0px 50px;
}

.headingtxt {
	font-weight: bold;
	font-size: 15px;
	color: white;
}

/*.footerset {
	font-family: sans-serif;
	text-align: center;
	height: 35px;
	width: 100%;
	position:absolute;
	bottom: 0;
	left:0;

}

*/


